.create-event-form-inner{
    border: 1px solid black;
    padding: 40px 40px 20px 40px;
    border-radius: 15px;
}
.create-event-img-div > img {
width: 100%;
}
.create-event-heading{
    text-align: center;

}
.create-event-form{
    max-width: 1000px;
}
.create-event-btn-div{
    display: flex;
    justify-content: center;
}
.save-btn{
    background-color: #F5167E;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 15px;
    border: 1px solid #F5167E;
}
.save-btn:hover{
    color:#F5167E;
    border: 1px solid #F5167E;
    background-color: white;
    cursor: pointer;
}
.create-event-input{
    height: 40px;
    width: 400px;
}

/* ============================== */

/* .input-field {
  position: relative;
  width: 250px;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
label {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
  font-size: 16px;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  border-top: 2px solid #d3d3d3;
  border-left: 2px solid #d3d3d3;
  border-right: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
  border-radius: 15px;
  text-indent: 12px;
}

input:invalid {
  outline: 0; */
  /* color: #ff2300;
  border-color: #ff2300; */
/* }
input:focus,
input:valid {
  border-color: #F5167E;
}
input:focus~label,
input:valid~label {
  font-size: 16px;
  top: -35px;
  color: #F5167E;
} */
