.all-events-1{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.all-events-1-right > img {
    height: 500px;
}
.all-events-1-left{
    /* background-color: pink; */
    padding-left: 12%;
    padding-top: 40px;

}
.all-events-Event-para{
    font-size: 90px;
}
.all-events-Event-para > span {
    color: #7848F4;
}
.all-events-1-left-divs{
    display: flex;
    margin-top: 70px;
    gap: 30px;

}
.all-events-1-left-divs-inner{
    padding: 12px;
    border-radius: 15px;
    background-color: #7848F4;
    min-width: 150px;

}
.all-events-1-left-divs-inner{
    padding: 12px;
    border-radius: 15px;
    background-color: #7848F4;
    min-width: 150px;
}
.all-events-2k{
    font-size: 30px;
    font-weight: 600;
    color:white;
    text-align: center;
}
.all-events-2k-text{
    color:white;
    text-align: center;
    /* background-color: red; */
    margin-top: -10px;
    margin-bottom: 0px;
}
.all-events-2{
    margin-top: 100px;
}
.all-events-2-title-dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.all-events-2-dropdown{
    display: flex;
    gap: 20px;
}
hr {
    margin: 20px 50px;
}
.all-events-2-select{
    height: 45px;
    padding: 0px 12px;
    border-radius: 10px;
    background-color: #F7F8FA;
}
.all-events-cards{
    margin: 0px 40px;
    margin-bottom: 30px;
    margin-top: 35px;
}
.all-events-seemore-btn{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    margin-top: -70px !important;
}
.all-events-seemore-btn > button {
    border: 1px solid #d7d8d8;
    background-color: #F7F8FA;
padding: 10px 20px;
border-radius: 10px;
scale:0.9;
}
.all-events-seemore-btn > button:hover{
    /* border: 1px solid black; */
    background-color: white;
    color:#F5167E;
}
.all-events-seemore-icon{
    color:#b9b9b9;
}
.abc{
    position: relative;
}
.all-events-img{
    height: 280px;
    position: absolute;
    top:-50px;
    right: 155px;
}
.all-events-img-div{
  background: #eee1ff;
  height: 230px;
  margin-top: 100px;
}
.all-events-img-text{
    margin-top: 40px;
    padding-inline-start: 60px;
}
.all-events-img-line{
    /* background-color: red; */
    font-size: 18px;
    /* background-color: lightblue; */
    line-height: 25px;
}

