/* CSS for Profile.jsx starts ==================================== */
.profile-heading {
  text-align: center;
  text-decoration: underline;
}
.profile-container {
  padding-left: 10%;
  padding-right: 10%;
}
.tabBG {
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgb(148, 138, 138);
}
/* CSS for Profile.jsx ends ====================================  */

/* CSS for MyEvents.jsx starts ====================================  */
.MyEvents-main {
  margin-bottom: 100px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
/* CSS for MyEvents.jsx ends ====================================  */

/* CSS for MyEventsCard.jsx starts ====================================  */
.my-event-card-main {
  border: none;
  border-radius: 15px;
  /* padding: 15px; */
  max-width: 430px;
  box-shadow: 0px -8px 80px rgba(0, 0, 0, 0.07),
    0px -2.92013px 29.2013px rgba(0, 0, 0, 0.0482987),
    0px -1.41767px 14.1767px rgba(0, 0, 0, 0.0389404),
    0px -0.694968px 6.94968px rgba(0, 0, 0, 0.0310596),
    0px -0.274791px 2.74791px rgba(0, 0, 0, 0.0217013);
  padding: 15px;
}
.my-event-card-img-div > img {
  width: 400px;
}
.my-event-card-time-btn {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.my-event-card-para {
  color: #7848f4;
}
/* CSS for MyEventsCard.jsx ends ====================================  */
